<h2>User info</h2>

<form [formGroup]="userForm" class="form form-horizontal form-custom" novalidate>
  <div class="form-group">
    <label>Name:</label>
    <input type="text" formControlName="name" class="form-control" />
    <small class="form-text text-danger" *ngIf="userForm.controls.name.errors">{{userForm.controls.name.errors.required.message}}<br /></small>
  </div>

  <div class="form-group">
    <label>MiddleName:</label>
    <input type="text" formControlName="middleName" class="form-control" />
  </div>
  <div [formGroup]="userForm.controls.address">

    <div class="form-group">
      <label>Address:</label>
      <input type="text" formControlName="address" class="form-control" />
    </div>
    <div class="form-group">
      <label>PostCode:</label>
      <input type="text" formControlName="postCode" class="form-control" />
    </div>
  </div>
  <button class="btn btn-primary" (click)="addProduct()">Add Product</button>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Produc name</th>
        <th scope="col">Price</th>
        <th scope="col">Description</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr [formGroup]="product" *ngFor="let product of userForm.controls.products.controls;let i = index;">

        <td>
          <div class="form-group">
            <input type="text" formControlName="name" class="form-control" />
          </div>
        </td>
        <td>
          <div class="form-group">
            <input type="text" formControlName="price" class="form-control" />
          </div>
        </td>
        <td>
          <div class="form-group">
            <input type="text" formControlName="description" class="form-control" />
          </div>
        </td>
        <td>
          <div class="form-group">
            <button class="form-control btn btn-danger" (click)="removeProduct(i)">Remove</button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <button [disabled]="!userForm.valid" class="btn btn-primary">Submit</button>

</form>
